.groupJoinButton {
  width: 120px;
  padding: 12px 28px;
  font-size: 18px;
  line-height: 26px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form .input {
  width: 100%;
}

.actionRow {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.button {
  flex: 1;
}

.form .errorMessage {
  margin-top: 4px;
}
