.container {
  display: flex;
  gap: 30px;
  width: 100%;
  margin: 30px 50px 50px;
  margin-left: 170px;
}

.title {
  font-size: 40px;
  font-weight: 800;
  line-height: 60px;
  margin-bottom: 24px;
}

div.card {
  min-width: 700px;
  max-width: 880px;
  flex: 1 1 60%;
  padding: 56px 32px; /* 위아래 여백 크게, 좌우는 과하게 넓어지지 않게 */
}

.description {
  height: 100px;
  resize: none;
}
.descriptionBlock {
  grid-column: 1 / 2;
}

.form {
  display: grid;
  grid-template-columns: minmax(0, 1.25fr) minmax(320px, 1fr);
  gap: 32px 32px;
  align-items: start;
}

.formLeft {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.formRight {
  width: 100%;
}

.form input,
.form textarea {
  width: 100%;
}

.tags {
  align-self: start;
}

.goalRep {
  align-self: start;
}

.thumbnail {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.thumbnailInput {
  width: 100%;
  max-height: 220px;
  aspect-ratio: 16 / 9;
  height: 100%;
}
.preview {
  width: 100%;
}

.previewWrapper {
  flex: 0 0 320px;
  max-width: 320px;
  padding: 28px 12px 28px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.previewTitle {
  width: fit-content;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: var(--gray-100);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 24px;
}

.submitButton {
  width: 218px;
  justify-self: end; /* 버튼을 오른쪽으로 붙여 비율 조정 */
}

.actions {
  display: flex;
  justify-content: center;
  width: 100%;
}
